body{
    background: white;
    font-family:, 'Century Gothic','Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, 'sans-serif';
    width: 100%;
    height: auto;
}

a{
    color: black;
}


.description{
    width: 80%;
    margin: 5em auto;
    height: auto;
    border-left: 1px solid #d6d6d6;
    padding-left: 1em;
    font-size: .8em;
}
.description dt{
    width: 13%;
    height: 4em;
    float: left;
    text-align: right;
    line-height: 4em;
}
.description dd{
    width: 80%;
    float: right;
    height: 4em;
    line-height: 4em;
}
