<html>
    {{template "header.tmpl.html"}}
    <body>
        <body>
            <div style="width:300px;padding:30px 0 30px;margin:0 auto;">
                <table style="font-size:.9em;text-align:left;">
                    <tbody>
                        <tr>
                            <th>会社名</th>
                            <td>合同会社グッドウィズ</td>
                        </tr>
                        <tr>
                            <th>事　業</th>
                            <td>
                                 技術コンサルティング事業<br/>
                                 ウェブサイト制作事業
                            </td>
                        </tr>
                        <tr>
                            <th>代表者</th>
                            <td>天地 知也</td>
                        </tr>
                        <tr><th>連絡先</th>
                            <td>info@goodwith.tech</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </body>
</html>
