<html>
    {{template "header.tmpl.html"}}
    <body>
        <body>
            <div style="width:300px;padding:30px 0 30px;margin:0 auto;">
                <h1>合同会社グッドウィズ</h1>
                <div style="height:10px;"></div>
                <table style="font-size:.8em;text-align:left;">
                    <tbody>
                        <tr>
                            <th>会社名</th>
                            <td>合同会社グッドウィズ</td>
                        </tr>
                        <tr>
                            <th>事　業</th>
                            <td>
                                <ul>
                                    <li>技術コンサルティング事業</li>
                                    <li>ウェブサイト制作事業</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>代表者</th>
                            <td>天地 知也</td>
                        </tr>
                        <tr><th>連絡先</th>
                            <td>info@stompy.jp</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </body>
</html>
